<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Producto</title>
</head>

<body class="body">
	<div class="container">
		<div th:insert="layouts/header :: header"></div>

		<h1>Formulario de Carga de Producto</h1>
		<form id="formProducto" th:object="${unProducto}"
			th:action="${editMode}?@{/producto/modificar}:@{/producto/guardar}" method="post">
			<div class="form-group row">
				<label for="codigo" class="col-sm-2 col-form-label">Codigo</label>
				<div class="col-sm-10">
					<input type="text" id="codigo" th:field="*{codProducto}" class="form-control">
				</div>
			</div>


			<div class="form-group row">
				<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-10">
					<input type="text" id="nombre" th:field="*{nombre}" class="form-control">
				</div>
			</div>

			<div class="form-group row">
				<label for="precio" class="col-sm-2 col-form-label">Precio</label>
				<div class="col-sm-10">
					<input type="number" id="precio" th:field="*{precio}" class="form-control">
				</div>
			</div>


			<div class="form-group row">
				<label for="marca" class="col-sm-2 col-form-label">Marca</label>
				<div class="col-sm-10">
					<input type="text" id="marca" th:field="*{marca}" class="form-control">
				</div>
			</div>

			<div class="form-group row">
				<label for="stock" class="col-sm-2 col-form-label">Stock</label>
				<div class="col-sm-10">
					<input type="number" id="stock" th:field="*{stock}" class="form-control">

				</div>
			</div>

			<div class="form-group row">
				<label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
				<div class="col-sm-10">
					<input type="text" id="descripcion" th:field="*{descripcion}" class="form-control">
				</div>
			</div>

			<div>
				<!--<button type="submit" value="Agregar" class="btn btn-primary btn-sm">Agregar</button>-->
				<input type="submit" class="btn btn-success btn-block"
					th:value="${editMode}?'Modificar Producto':'Crear Producto'">
			</div>


		</form>
		<!-- ---------------------------------------------------------------- -->

		<br>
		<h3>Lista de Productos</h3><br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr class="columna">
						<th>Cod Producto</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Marca</th>
						<th>Stock</th>
						<th>Descripcion</th>
					</tr>
				</thead>

				<tr th:if="${productos.empty}">
					<td colspan="2"> No hay productos en el listado </td>
				</tr>

				<tr class="columna" th:each="producto : ${productos}">
					<td th:text="${producto.codProducto}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.precio}"></td>
					<td th:text="${producto.marca}"></td>
					<td th:text="${producto.stock}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td><a href="#" th:href="@{'/producto/editar/'+${producto.codProducto}}"> <i class="fa fa-edit"></i>
						</a> <a th:onclick="'javascript:confirmarEliminar(\''+${producto.codProducto}+'\');'">
							<i class="fa fa-trash-alt"></i>
						</a></td>
				</tr>
			</table>
		</div>

		<!--Modal Eliminar-->
		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eliminarModalTitulo">Confirmar
							Eliminar</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h6>Esta seguro que desea eliminar este producto?</h6>
					</div>
					<input type="hidden" id="identificadorProducto" name="productoId" />
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary" th:onclick="eliminarProducto()">Borrar
							producto</button>
					</div>
				</div>
			</div>
		</div>


		<br>
		<div th:insert="layouts/footer :: footer"></div>
	</div>
	<script type="text/javascript">
		function confirmarEliminar(id) {
			$('#modalEliminar').modal('show');
			$("#identificadorProducto").val(id);
		}

		function eliminarProducto() {
			var id = $("#identificadorProducto").val();
			window.location = "eliminarProducto/" + id;
		}
	</script>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
		src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>